* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {}

nav {
    padding: 10px;
}

.bars {
    transform: rotate(90deg);
}

.bars span {
    padding: 1px;
    background-color: #F58d17;
    margin: 2px;
    font-size: none;
    border-radius: 50px;
}

nav .nav-link {
    font-weight: 600;
}

nav .nav-link.style.active {
    background-color: #F58d17;
}


nav .nav-link.style:hover {
    background-color: #fa9929;
    color: aliceblue;
}

nav .nav-link.style:focus {
    background-color: #F58d17;
}

nav .nav-link.style:active {
    background-color: #F58d17;
}

.btn1 {
    color: #fff;
    font-weight: 500;
    padding: 14px 30px;
    border-color: #F58d17;
    background-color: #F58d17;
}


.btn1:hover {
    border-color: #d37810;
    background-color: #ca7310;
    color: #fff;
}

.line {
    width: 60px;
    height: 2px;
    background-color: #F58d17;
}

.carousel-inner {
    width: 100vw;
}

.carousel-inner img {
    width: 100vw;
    height: 100%;
}

.carousel {
    display: flex;
    height: 85vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.text-cont {
    margin-bottom: 25%;
}

header {
    height: 150vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.style {
    font-weight: 600;
    color: black;
}

.itemm {
    border-radius: 50px;
}

.menu {
    height: fit-content;
    overflow-x: hidden;
}

.menu button {
    margin-left: 15px;
}

.nav-link.style.active {
    background-color: #fa9929;
}


.nav-link.style:hover {
    background-color: #F58d17;
    color: white;
}

.nav-link.style:focus {
    background-color: #F58d17;
}

.nav-link.style:active {
    background-color: #F58d17;
}

.custom-rounded {
    border-radius: 50px;
}

.about {
    padding: 100px;
}



.card {
    font-weight: 500;
    transition: all .4s;
    border: none;
}

.card .meg {
    height: 210px;
    width: 100%;
}

.card-body h5:hover {
    color: #F58d17;
    transition: all .2s;
}

.card-body h5 {
    transition: all .2s;
}

.card:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.131);
    transition: all .5s;
}

.img-container {
    background-color: #F58d17;
    position: relative;
    top: -20px;
    height: 230px;
    width: 170px;
    border-radius: 100px;
}

.img-container img {
    position: absolute;
    height: 230px;
    width: 170px;
    border-radius: 100px;
    left: 12px;
    top: 12px;
}

.center {
    flex-direction: column;
    border: 1px solid rgb(217, 214, 214);
    display: flex;
    align-items: center;
    justify-content: center;
}

.center:hover {
    border: 1px solid #fa9929;
    transform: scale(1.1);
}

.center2 h4 {
    font-weight: 600;
}

.center2 p {
    color: rgb(129, 128, 128);
}

.reserve {
    border-top: 1px solid black;
}

.form {
    background: linear-gradient(rgba(0, 0, 0, 0.516), aliceblue);
    border-radius: 15px;
    text-align: left;
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.205);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form input {
    padding: 12px;
}

.form-select {
    padding: 12px;
}

.btn2 {
    color: #fff;
    font-weight: 500;
    padding: 14px 30px;
    border-color: #F58d17;
    background-color: #F58d17;
}


.btn2:hover {
    border-color: #d37810;
    background-color: #ca7310;
    color: #fff;
}

.sec1 {
    height: 400px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    justify-content: center;
}

.sec1 img {
    height: 100%;
    width: 100%;
}


.blog-text {
    background-color: black;
    color: aliceblue;
    position: relative;
    font-weight: 600px;
    bottom: 70px;
    width: 80%;
}

.blog-text h4 {
    color: aliceblue;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.blog-text p {
    font-weight: 600;
    font-size: 15px;
}

.date {
    position: absolute;
    top: -35px;
    border-radius: 10px;
    right: 12px;
    text-align: center;

}

.date h5 {
    font-weight: 600;
    font-size: 35px;
}

.spac {
    color: red;
    font-size: 50px;
}




@media screen and (max-width:400px) {

    header {
        height: 100vh;
    }

    .home h6 {
        font-size: 17px;
    }

    .home h1 {
        font-size: 35px;
    }

    .carousel-caption {
        margin-bottom: 35%;
    }

    .carousel-inner img {
        height: 100vh;
    }

    .btn1 {
        margin-top: 100px;
    }

    .about {
        padding: 0;
        margin-top: 100px;
        text-align: center;
    }

    .p-second {
        display: none;
    }

    .about img {
        height: 450px;
    }

    .about .line {
        margin: auto;
    }

    .menu button {
        margin-left: 6px;
    }

    nav {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .team h1 {
        font-size: 40px;
    }


    .sec1 {
        height: auto;
        width: auto;
        margin: 0;
        padding: 0;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sec .blog-text {
        height: auto;
    }

    .blog-text h4 {
        font-size: 20px;
    }

    .date h5{
        font-size: 20px;
    }

    .date {
        right: -5px;
    }
}